<ion-header style="text-align: center">
    <ion-toolbar>
      <ion-title>Make an account</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <div class="ion-padding">
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>   
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>     
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirm Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
        
      <ion-button ion-button shape="round" (click)="navToLogin()">Register</ion-button>
    </div>
  </ion-content>